In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
import statsmodels.api as sm

import sklearn.cluster as cluster
from sklearn.cluster import KMeans, DBSCAN
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_samples, silhouette_score,accuracy_score, confusion_matrix, classification_report, plot_roc_curve,accuracy_score
import sklearn.metrics as metrics
from sklearn.preprocessing import StandardScaler, PowerTransformer
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, KFold, RandomizedSearchCV
from sklearn.model_selection import learning_curve,GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.datasets import make_moons
from sklearn.metrics import adjusted_rand_score
from sklearn.pipeline import Pipeline

In [2]:
data1 = pd.read_csv('final.csv')
data1.set_index(['CustomerID'],inplace=True)
filename='kmeans.sav'
loaded_model=pickle.load(open(filename,'rb'))
data1

            Recency  Frequency  Monetary  Cluster  Color
CustomerID
12346.0         325          1  77183.60        2   blue
12347.0           2          7   4310.00        1  green
12348.0          75          4   1797.24        2   blue
12349.0          18          1   1757.55        2   blue
12350.0         310          1    334.40        0    red
...             ...        ...       ...      ...    ...
18280.0         277          1    180.60        0    red
18281.0         180          1     80.82        0    red
18282.0           7          2    178.05        2   blue
18283.0           3         16   2045.53        1  green
18287.0          42          3   1837.28        2   blue

[4339 rows x 5 columns]

- Green (Cluster 1)   : Low loyality ( Sudah lama tidak membeli)
- Red (Cluster 0)  : Medium Loyality ( Baru-baru ini membeli)
- Blue (Cluster 2) : High Loyality ( Sering membeli dan memberikan revenue terbanyak)

# 1. Applying Marketing Strategy 
Setelah melakukan segmentasi, sekarang saatnya menentukan strategi bisnis kepada setiap segmen pelanggan untuk meningkatkan revenue perusahaan
<br>
<br>
<br>
1. **High Loyality** adalah pelanggan yang sering melakukan transaksi dan memberikan revenue yang signifikan.
<br>

- **Marketing Strategy** : 
Menerapkan referral marketing, yaitu strategy untuk mendapatkan lebih banyak pembeli melalui rekomendasi para pelanggan. Agar referral marketing berjalan lancar, maka harus memberikan reward kepada para pelanggan yang code referralnya digunakan untuk transaksi berupa cash-back atau vocher transaksi.
<br>
<br>
<br>

2. **Medium Loyality** adalah pelanggan baru atau pelanggan yang sering membeli namun memberikan revenue yang tidak signifikan. Medium Loyality Customer sangat berpotensi menjadi High Loyality Customers
<br>

- **Marketing Strategy** : 
Memberikan discounts, penawaran paket belanja atau program apapun yang membuat mereka lebih sering melakukan transaksi.
<br>
<br>
<br>

3. **Low Loyality** Adalah pelanggan yang dulunya sering melakukan transaksi dan memberikan revenue yang cukup signifikan.
<br>

- **Marketing Strategy** : Melakukan iklan, kampanye atau akses khusus seperti membership agar kembali sering melakukan transaksi.

In [3]:
loaded_model

Pipeline(steps=[('preprocessor',
                 Pipeline(steps=[('power', PowerTransformer()),
                                 ('scaler', StandardScaler()),
                                 ('pca',
                                  PCA(n_components=2, random_state=42))])),
                ('clusterer',
                 Pipeline(steps=[('kmeans',
                                  KMeans(max_iter=500, n_clusters=3, n_init=50,
                                         random_state=42))]))])

In [22]:
### ID = input('Customer ID ? ')
# Recency
recency = input('Sejak hari terakhir membeli :')

# Frequency
frequency = input('Jumlah pembelian :')

# Monetary
monetary = float(input('Total belanjaan : '))

df = pd.DataFrame([[recency,frequency,monetary]],columns=['Recency','Frequency','Monetary'])

Sejak hari terakhir membeli :3
Jumlah pembelian :2
Total belanjaan : 3

In [23]:
df['Cluster']=loaded_model.predict(df)
df

  Recency Frequency  Monetary  Cluster
0       3         2       3.0        0